<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background:green;">
  <a class="navbar-brand" href="#">The Ideas App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
			  <li class="nav-item"><a class="nav-link" href="<%= ideas_path %>">Ideas</a></li>
				<li class="nav-item"><%= link_to 'New Idea', new_idea_path, class: "nav-link" %></li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
			<% if user_signed_in? %>
				<li class="nav-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %></li>
				<li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %> </li>
			<li class="nav-item"><a class="nav-link">
          <img src="<%=current_user.gravatar_url%>" style="width:30px"class="rounded-circle z-depth-0"
            alt="avatar image">
        </a> </li>
			<% else %>
				<li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
				<li class="nav-item"><%= link_to "Log In", new_user_session_path, class: "nav-link" %></li>
			<% end %>
    </ul>
  </div>
</nav>
<!--/.Navbar -->