<!DOCTYPE html>
<html>
  <head>
    <title>IdeasApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		
		  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
		body{
			width:80%;
			margin:auto;
		}
				.jumbotron{
			background:green;
			color:white;
		}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
		
		
  </head>

  <body>
	<%= render partial: 'layouts/header2' %>	
		
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
		

	
		
    
<div class="container">
  <%= yield %>
</div>
		

		
		
<footer>
  <div class="container">
    Ruby Training <%= Time.now.year %>
  </div>
</footer>
<script>
	$(document).ready(function(){

		$(".nav>li").each(function() {
    var navItem = $(this);
    if (navItem.find("a").attr("href") == location.pathname) {
      navItem.addClass("active");
    }
});

});
	
		</script>
		
		
		
  </body>
</html>
